<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sockets Example</title>
    <!--
    <script src='/socket.io/socket.io.js'></script>
    -->
        <script src="/static/js/bundle.js"></script>
    <script>
      window.app = window.app || {};
      window.app.config = window.app.config = {};
      window.app.config.host = "{{currentIP}}"
    </script>

</head>
<body>
  {{{ body }}}
</body>
</html>
