<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sockets Example</title>
    <script src='/socket.io/socket.io.js'></script>
    <script>
      window.app = window.app || {};
      window.app.socket = window.app.socket ||  io('http://{{currentIP}}');
    </script>
    <script src="/static/js/bundle.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>
