<div class="date">
  <p class="time">
    <span>The current time is </span>
    <span id="hh">{{hours}}</span><strong>:</strong><span id="mm">{{minutes}}</span><strong>:</strong><span id="ss">{{seconds}}</span>
  </p>
</div>